@font-face{
  font-family: Heebo;
  src: url(heebo.ttf);
}

body {
	font-family: Heebo;
	font-size: 16px;
	line-height: 1.5;
  font-variation-settings: "wght" 300;
	
	background-color: #ffffff;
	color: #dc0000;
	margin: 0px auto 0px auto;
	max-width: 1600px;
}

section{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  text-align: center;
  
  width: 100%;
  overflow: hidden;
}

div.shader{
  position: relative;
}

div.shader, div.text{
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 32px;
  margin-right: 32px;
  
}
div.text{
  padding: 32px;
  
}

div.text p{
  max-width: 30em;
  margin:  24px auto 24px auto;
}

span.name{
  font-variation-settings: 'wght' 500;
}

div.shader canvas{

  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  width: calc(100% + 200px);
  height: calc(100% + 200px);
}

div.shader.loaded img{
  opacity: 0;
  
}